<div class="row">
  <div class="col-lg-9">
    <nb-card>
      <nb-card-header>
        <h4>
          Tarjeta
          <span *ngIf="element?.id"> &gt; {{ element.name }}</span>
        </h4>
      </nb-card-header>
      <nb-card-body>
        <form *ngIf="loaded" #form="ngForm"
          class="form-horizontal"
          (submit)="submit()">
          <div *ngIf="errors && errors.length > 0"
            class="alert alert-danger"
            role="alert">
            <div><strong>Error</strong></div>
            <div *ngFor="let error of errors">{{ error }}</div>
          </div>
          <!-- merchant -->
          <div class="form-group row" *ngIf="!element?.id">
            <label for="merchant-id" class="col-sm-2 col-form-label">
              Marca*
            </label>
            <div class="col-sm-10">
              <select class="form-control" id="merchant-id" name="merchant_id"
                [(ngModel)]="element.merchant_id"
                required>
                <option *ngFor="let merchant of merchants"
                  [value]="merchant.id">
                  {{ merchant.name }}
                </option>
              </select>
            </div>
          </div>
          <!-- name -->
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Nombre*</label>
            <div class="col-sm-10">
              <input type="text"
                class="form-control"
                id="name"
                name="name"
                [(ngModel)]="element.name"
                placeholder="Nombre" required>
            </div>
          </div>
          <!-- punch-limit -->
          <div class="form-group row">
            <label for="budget-rating" class="col-sm-2 col-form-label">
              Sellos*
            </label>
            <div class="col-sm-10">
              <select class="form-control"
                id="punch-limit"
                name="punch_limit"
                [(ngModel)]="element.punch_limit" required>
                <option *ngFor="let punch of punches" [value]="punch">
                  {{ punch }}
                </option>
              </select>
            </div>
          </div>
          <!-- expires_at -->
          <div class="form-group row">
            <label for="expires-at" class="col-sm-2 col-form-label">
              Fecha de Expiraci&oacute;n*
            </label>
            <div class="col-sm-10">
              <input type="date"
                class="form-control"
                id="expires-at"
                name="expires_at"
                [(ngModel)]="element.expires_at"
                placeholder="Fecha de Expiraci&oacute;n" required>
            </div>
          </div>
          <!-- prize -->
          <div class="form-group row">
            <label for="prize" class="col-sm-2 col-form-label">Premio*</label>
            <div class="col-sm-10">
              <input type="text"
                class="form-control"
                id="prize"
                name="prize"
                [(ngModel)]="element.prize"
                placeholder="Premio" required>
            </div>
          </div>
          <!-- redeem-code -->
          <div class="form-group row">
            <label for="redeem-code" class="col-sm-2 col-form-label">
              C&oacute;digo de Canje*
            </label>
            <div class="col-sm-10">
              <input type="text"
                class="form-control"
                id="redeem-code"
                name="redeem_code"
                [(ngModel)]="element.redeem_code"
                placeholder="Codigo de Redencion" required>
            </div>
          </div>
          <!-- rules -->
          <div class="form-group row">
            <label for="prize" class="col-sm-2 col-form-label">Reglas*</label>
            <div class="col-sm-10">
              <input type="text"
                class="form-control"
                id="rules"
                name="rules"
                [(ngModel)]="element.rules"
                placeholder="Reglas" required>
            </div>
          </div>
          <!-- terms -->
          <div class="form-group row">
            <label for="terms" class="col-sm-2 col-form-label">
              Terminos y Condiciones*
            </label>
            <div class="col-sm-10">
              <input type="text"
                class="form-control"
                id="terms"
                name="terms"
                [(ngModel)]="element.terms"
                placeholder="Terminos y Condiciones" required>
            </div>
          </div>
          <!-- validation-limit -->
          <div class="form-group row">
            <label for="terms" class="col-sm-2 col-form-label">
              Limite por d&iacute;a
            </label>
            <div class="col-sm-10">
              <input type="text"
                class="form-control"
                id="validation-limit"
                name="validation_limit"
                [(ngModel)]="element.validation_limit"
                placeholder="Limite por dia">
            </div>
          </div>
          <!-- actions -->
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-9">
              <button type="submit"
                class="btn btn-primary"
                [disabled]="!form.valid">
                {{ action }}
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3">
    <nb-card *ngIf="element?.id">
      <nb-card-header>
        <h4>Estado: {{ element?.identity | identityPipe: identities }}</h4>
      </nb-card-header>
      <nb-card-body>
        <p>Sube esta tarjeta a la aplicaci&oacute;n.</p>
        <p>Esta acci&oacute;n no se puede deshacer.</p>
        <button class="btn btn-primary"
          (click)="publish()"
          [disabled]="!unpublished">
          Publicar
        </button>
      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="!element?.id">
      <nb-card-header>
        <h4>Estado: Sin crear</h4>
      </nb-card-header>
      <nb-card-body>
        <p>La tarjeta tiene que estar creada para que se pueda publicar.</p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
