<nb-card>
  <nb-card-header>
    <h4>Cluster<span *ngIf="element?.id"> &gt; {{ element.name }}</span></h4>
  </nb-card-header>
  <nb-card-body>
    <form *ngIf="loaded" #form="ngForm" class="form-horizontal" (submit)="submit()">
      <div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert">
        <div><strong>Error</strong></div>
        <div *ngFor="let error of errors">{{ error }}</div>
      </div>
      <!-- name -->
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre*</label>
        <div class="col-sm-10">
          <input type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="element.name"
            placeholder="Nombre" required>
        </div>
      </div>
      <!-- location -->
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Direci&oacute;n*</label>
        <div class="col-sm-10">
          <input type="text"
            class="form-control"
            id="location"
            name="location"
            [(ngModel)]="element.location"
            placeholder="Direci&oacute;n" required>
        </div>
      </div>
      <!-- city -->
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Ciudad*</label>
        <div class="col-sm-10">
          <input type="text"
            class="form-control"
            id="city"
            name="city"
            [(ngModel)]="element.city"
            placeholder="Ciudad" required>
        </div>
      </div>
      <!-- postal-code -->
      <div class="form-group row">
        <label for="postal-code" class="col-sm-2 col-form-label">C&oacute;digo Postal*</label>
        <div class="col-sm-10">
          <input type="text"
            class="form-control"
            id="postal-code"
            name="postal_code"
            [(ngModel)]="element.postal_code"
            placeholder="C&oacute;digo Postal" required>
        </div>
      </div>
      <!-- state -->
      <div class="form-group row">
        <label for="state" class="col-sm-2 col-form-label">Estado*</label>
        <div class="col-sm-10">
          <select class="form-control" id="state" name="state" [(ngModel)]="element.state" required>
            <option></option>
            <option>Aguascalientes</option>
            <option>Baja California</option>
            <option>Baja California Sur</option>
            <option>Campeche</option>
            <option>Coahuila de Zaragoza</option>
            <option>Colima</option>
            <option>Chiapas</option>
            <option>Chihuahua</option>
            <option>CDMX</option>
            <option>Durango</option>
            <option>Guanajuato</option>
            <option>Guerrero</option>
            <option>Hidalgo</option>
            <option>Jalisco</option>
            <option>Estado de M&eacute;xico</option>
            <option>Michoacán de Ocampo</option>
            <option>Morelos</option>
            <option>Nayarit</option>
            <option>Nuevo Le&oacute;n</option>
            <option>Oaxaca</option>
            <option>Puebla</option>
            <option>Querétaro</option>
            <option>Quintana Roo</option>
            <option>San Luis Potos&iacute;</option>
            <option>Sinaloa</option>
            <option>Sonora</option>
            <option>Tabasco</option>
            <option>Tamaulipas</option>
            <option>Tlaxcala</option>
            <option>Veracruz</option>
            <option>Yucatán</option>
            <option>Zacatecas</option>
          </select>
        </div>
      </div>
      <!-- actions -->
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-9">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ action }}</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
