<nb-card>
  <nb-card-header>
    <h4>Organizaci&oacute;n<span *ngIf="element?.id"> &gt; {{ element.name }}</span></h4>
  </nb-card-header>
  <nb-card-body>
    <form *ngIf="loaded" #form="ngForm" class="form-horizontal" (submit)="submit()">
      <div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert">
        <div><strong>Error</strong></div>
        <div *ngFor="let error of errors">{{ error }}</div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre*</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" id="name" name="name" [(ngModel)]="element.name" placeholder="Nombre" required>
        </div>
      </div>
      <!-- actions -->
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-9">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ action }}</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
