<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Informaci&oacute;n del Usuario</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.id }}</h2>
              <footer class="blockquote-footer">Identificador</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.name }}</h2>
              <footer class="blockquote-footer">Nombre</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.last_names }}</h2>
              <footer class="blockquote-footer">Apellido</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.gender | identityPipe: genders }}</h2>
              <footer class="blockquote-footer">Genero</footer>
            </blockquote>
          </div>
          <div class="col-md-6">
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.age }}</h2>
              <footer class="blockquote-footer">edad</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.first_visit | date: "dd/MM/yyyy" || '-' }}</h2>
              <footer class="blockquote-footer">Primera visita</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.last_visit | date: "dd/MM/yyyy" || '-' }}</h2>
              <footer class="blockquote-footer">&Uacute;ltima visita</footer>
            </blockquote>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- Weekly Redeems -->
  <div class="col-xxxl-3 col-md-4">
    <kzm-data-card title="Total de Visitas" type="primary" [data]="user?.merchant_total">
      <i class="nb-loop-circled"></i>
    </kzm-data-card>
  </div>
  <!-- Weekly Validations -->
  <div class="col-xxxl-3 col-md-4">
    <kzm-data-card title="Visitas Promedio Semanal" type="primary" [data]="user?.weekly_average">
      <i class="nb-loop"></i>
    </kzm-data-card>
  </div>
  <!-- Monthly Validations -->
  <div class="col-xxxl-3 col-md-4">
    <kzm-data-card title="Visitas Promedio Mensual" type="primary" [data]="user?.monthly_average">
      <i class="nb-loop"></i>
    </kzm-data-card>
  </div>
  <!-- Shops -->
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Top 10 Tiendas</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [source]="shopSource" [settings]="topSettings"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- History -->
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Historial de Sellos y Canjes</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [source]="historySource" [settings]="historySettings"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
