<kzm-auth-block>
  <small class="form-text sub-title">&iexcl;Hola! Introduce tu correo y contrase&ntilde;a para comenzar.</small>
  <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope">
    <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
      <div><strong>Hubo un error</strong></div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
      <div><strong>&iexcl;Correcto!</strong></div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>
    <!-- email -->
    <div class="form-group">
      <label for="input-email" class="sr-only">Correo</label>
      <input name="email" [(ngModel)]="user.email" id="input-email" pattern=".+@.+\..+"
             class="form-control" placeholder="Email address" #email="ngModel"
             [class.form-control-danger]="email.invalid && email.touched" autofocus
             [required]="getConfigValue('forms.validation.email.required')">
      <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
        El correo es requerido.
      </small>
      <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
        Debe ser un correo valido.
      </small>
    </div>
    <!-- password -->
    <div class="form-group">
      <label for="input-password" class="sr-only">Contrase&ntilde;a</label>
      <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
             class="form-control" placeholder="Password" #password="ngModel"
             [class.form-control-danger]="password.invalid && password.touched"
             [required]="getConfigValue('forms.validation.password.required')"
             [minlength]="getConfigValue('forms.validation.password.minLength')"
             [maxlength]="getConfigValue('forms.validation.password.maxLength')">
       <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
         Es requerida.
       </small>
       <small class="form-text error" *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
         La contrase&ntilde;a debe ser de por lo menos {{ getConfigValue('forms.validation.password.minLength') }} caracteres.
       </small>
    </div>
    <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success" [class.btn-pulse]="submitted">
      Entrar
    </button>
  </form>
</kzm-auth-block>
