<nb-card>
  <nb-card-header>Marcas</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [source]="source" [settings]="settings"
      (edit)="onEdit($event)"
      (create)="onCreate($event)"
      (delete)="onDelete($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
