<div class="form-group row">
  <label [for]="name" class="col-sm-2 col-form-label">{{ label }}</label>
  <div class="col-sm-10">
    <input type="text"
      class="form-control"
      [id]="id"
      [name]="name"
      [value]="value"
      [required]="required"
      [placeholder]="label"
      (click)="onTouched()"/>
  </div>
</div>
