<nb-card>
  <nb-card-header>Listas de Correo</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [source]="source" [settings]="settings"
    (create)="onCreate($event)"
    (delete)="onDelete($event)">
  </ng2-smart-table>
  </nb-card-body>
</nb-card>
