:host /deep/ {
  // TODO rewrite when develop responsive
  @media (max-width: 550px) {
    .accept-group {
      font-size: 12px;
      padding: 0;
    }
  }

  form {
    width: 100%;
  }

  .auth-logo {
    text-align: center;
    img {
      width: 14rem;
      vertical-align: middle;
    }
  }

  .alert {
    text-align: center;
  }

  .title {
    margin-bottom: 0.75rem;
    text-align: center;
  }

  .sub-title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .checkbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: normal;
  }

  .form-group.accept-group {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;

    .forgot-password {
      line-height: 2;
    }
  }

  .links {
    text-align: center;
    margin-top: 1.75rem;

    .socials {
      margin: 1.5rem 0 2.5rem;
    }

    .socials a {
      font-size: 2rem;
      margin: 0 1rem;
      text-decoration: none;
    }
  }
}
