<nb-card>
  <nb-card-header>
    <h4>Administrador<span *ngIf="element?.id"> &gt; {{ element.name }}</span></h4>
  </nb-card-header>
  <nb-card-body>
    <form *ngIf="loaded" #form="ngForm" class="form-horizontal" (submit)="submit()">
      <div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert">
        <div><strong>Error</strong></div>
        <div *ngFor="let error of errors">{{ error }}</div>
      </div>
      <!-- users -->
      <div class="form-group row">
        <label for="shop-cluster-id" class="col-sm-2 col-form-label">Usuarios*</label>
        <div class="col-sm-10">
          <select class="form-control" id="organization-user-id" name="organization_user_id" [(ngModel)]="element.organization_user_id" required>
            <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
          </select>
        </div>
      </div>
      <hr />
      <!-- role -->
      <div class="form-group row">
        <label for="role" class="col-sm-2 col-form-label">Permiso*</label>
        <div class="col-sm-10">
          <select class="form-control" id="role" name="role" [(ngModel)]="element.role" required>
            <option *ngFor="let role of roles; let i = index" [value]="i">{{ role }}</option>
          </select>
        </div>
      </div>
      <!-- actions -->
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-9">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ action }}</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
