<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Informaci&oacute;n del Usuario</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.id }}</h2>
              <footer class="blockquote-footer">Identificador</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.name }}</h2>
              <footer class="blockquote-footer">Nombre</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.last_names }}</h2>
              <footer class="blockquote-footer">Apellido</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.email }}</h2>
              <footer class="blockquote-footer">Correo</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.is_verified | activePipe: 'Verificado':'No verificado' }}</h2>
              <footer class="blockquote-footer">Verificado</footer>
            </blockquote>
          </div>
          <div class="col-md-6">
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.sign_up_type }}</h2>
              <footer class="blockquote-footer">Tipo de Registro</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.gender | identityPipe: genders }}</h2>
              <footer class="blockquote-footer">Genero</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.birthdate | date: "dd/MM/yyyy" }}</h2>
              <footer class="blockquote-footer">Fecha de Nacimiento</footer>
            </blockquote>
            <blockquote class="blockquote">
              <h2 class="mb-0">{{ user?.created_at | date: "dd/MM/yyyy" }}</h2>
              <footer class="blockquote-footer">Miembro desde</footer>
            </blockquote>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- Merchants -->
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Top 10 Marcas</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [source]="merchantSource" [settings]="topSettings"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- Shops -->
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Top 10 Tiendas</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [source]="shopSource" [settings]="topSettings"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- Categories -->
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Categorias</nb-card-header>
      <nb-card-body>
        <ngx-charts-pie-chart [view]="view"
          [scheme]="colorScheme"
          [results]="categories"
          [legend]="showLegend"
          [labels]="showLabels"
          [tooltipText]="setTooltipText">
        </ngx-charts-pie-chart>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- Weekly punches -->
  <div class="col-xxxl-3 col-md-6">
    <kzm-data-card title="Sellos Promedio Semanal" type="primary" [data]="punchAverages?.weekly_avg || 0">
      <img class="analytics-icon" src="assets/icons/stamp.svg" />
    </kzm-data-card>
  </div>
  <!-- Weekly Redeems -->
  <div class="col-xxxl-3 col-md-6">
    <kzm-data-card title="Canjes Promedio Semanal" type="primary" [data]="redeemAverages?.weekly_avg || 0">
      <img class="analytics-icon" src="assets/icons/gift.svg" />
    </kzm-data-card>
  </div>
  <!-- Monthly punches -->
  <div class="col-xxxl-3 col-md-6">
    <kzm-data-card title="Sellos Promedio Mensual" type="primary" [data]="punchAverages?.monthly_avg || 0">
      <img class="analytics-icon" src="assets/icons/stamp.svg" />
    </kzm-data-card>
  </div>
  <!-- Monthly Redeems -->
  <div class="col-xxxl-3 col-md-6">
    <kzm-data-card title="Canjes Promedio Mensual" type="primary" [data]="redeemAverages?.monthly_avg || 0">
      <img class="analytics-icon" src="assets/icons/gift.svg" />
    </kzm-data-card>
  </div>
  <!-- History -->
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Historial de Sellos y Canjes</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [source]="historySource" [settings]="historySettings"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
