<nb-card>
  <nb-card-header>
    <h4>Beacon<span *ngIf="element?.id"> &gt; {{ element.name }}</span></h4>
  </nb-card-header>
  <nb-card-body>
    <form *ngIf="loaded" #form="ngForm" class="form-horizontal" (submit)="submit()">
      <div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert">
        <div><strong>Error</strong></div>
        <div *ngFor="let error of errors">{{ error }}</div>
      </div>
      <!-- is_active -->
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <div class="checkbox">
            <nb-checkbox [(ngModel)]="element.is_active" name="is_active">&iquest;Activo?</nb-checkbox>
          </div>
        </div>
      </div>
      <!-- uuid -->
      <div class="form-group row">
        <label for="uid" class="col-sm-2 col-form-label">UUID*</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="uid" name="uid" [(ngModel)]="element.uid" placeholder="UUID" required>
        </div>
      </div>
      <!-- major -->
      <div class="form-group row">
        <label for="major" class="col-sm-2 col-form-label">Major*</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="major" name="major" [(ngModel)]="element.major" placeholder="Major" required>
        </div>
      </div>
      <!-- minor -->
      <div class="form-group row">
        <label for="major" class="col-sm-2 col-form-label">Minor*</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="minor" name="minor" [(ngModel)]="element.minor" placeholder="Minor" required>
        </div>
      </div>
      <!-- name -->
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Clave*</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="element.name" placeholder="Clave" required>
        </div>
      </div>
      <hr />
      <!-- merchant -->
      <div class="form-group row">
        <label for="merchant-id" class="col-sm-2 col-form-label">Marca*</label>
        <div class="col-sm-10">
          <select class="form-control"
            id="merchant-id"
            name="merchant_id"
            (ngModelChange)="loadShops($event)"
            [(ngModel)]="element.merchant_id" required>
            <option *ngFor="let merchant of merchants" [value]="merchant.id">{{ merchant.name }}</option>
          </select>
        </div>
      </div>
      <!-- shop -->
      <div class="form-group row">
        <label for="shop-id" class="col-sm-2 col-form-label">Tienda</label>
        <div class="col-sm-10">
          <select class="form-control" id="shop-id" name="shop_id" [(ngModel)]="element.shop_id">
            <option *ngFor="let shop of shops" [value]="shop.id">{{ shop.name }}</option>
          </select>
        </div>
      </div>
      <!-- actions -->
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-9">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ action }}</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
