<nb-card>
  <nb-card-header>
    <h4>
      Lista de Correo<span *ngIf="element?.id"> &gt; {{ element.name }}</span>
    </h4>
  </nb-card-header>
  <nb-card-body>
    <form *ngIf="loaded" #form="ngForm" class="form-horizontal" (submit)="submit()">
      <div *ngIf="errors && errors.length > 0"
        class="alert alert-danger" role="alert">
        <div><strong>Error</strong></div>
        <div *ngFor="let error of errors">{{ error }}</div>
      </div>
      <!-- name -->
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre*</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name"
            [(ngModel)]="element.name" placeholder="Nombre" required>
        </div>
      </div>
      <!-- identity -->
      <div class="form-group row">
        <label for="state" class="col-sm-2 col-form-label">Tipo*</label>
        <div class="col-sm-10">
          <select class="form-control" id="identity" name="identity"
            [(ngModel)]="element.identity" required>
            <option></option>
            <option value="0">Usuarios</option>
            <option value="1">Marcas</option>
          </select>
        </div>
      </div>
      <!-- mailchimp ID -->
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Mailchimp ID*</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="mailchimp-id" name="mailchimp_id"
            [(ngModel)]="element.mailchimp_id" placeholder="Mailchimp ID" required>
        </div>
      </div>
      <!-- actions -->
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-9">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
            {{ action }}
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
