/**
 * Global Styles
 */
// theme.scss install
@import './app/@theme/theme';

// framework component styles which will use your new theme
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

 // install the framework
 @include nb-install() {
   @include nb-theme-global();
   @include nb-auth-global();
 };

 .kzm-custom-action {
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   font-size: 2rem !important;
   color: #a1a1e5;
 }
