<nb-card>
  <nb-card-header>
    <h4>Marca<span *ngIf="element?.id"> &gt; {{ element.name }}</span></h4>
  </nb-card-header>
  <nb-card-body>
    <form *ngIf="loaded" #form="ngForm" class="form-horizontal" (submit)="submit()">
      <div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert">
        <div><strong>Error</strong></div>
        <div *ngFor="let error of errors">{{ error }}</div>
      </div>
      <!-- organization -->
      <div class="form-group row">
        <label for="organization-id" class="col-sm-2 col-form-label">Organizaci&oacute;n*</label>
        <div class="col-sm-10">
          <select class="form-control"
            id="organization-id"
            name="organization_id"
            [(ngModel)]="element.organization_id" required>
            <option *ngFor="let organization of organizations" [value]="organization.id">{{ organization.name }}</option>
          </select>
        </div>
      </div>
      <!-- category -->
      <div class="form-group row">
        <label for="category-id" class="col-sm-2 col-form-label">Categor&iacute;a*</label>
        <div class="col-sm-10">
          <select class="form-control"
            id="category-id"
            name="category_id"
            [(ngModel)]="element.category_id" required>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>
      <hr />
      <!-- is_active -->
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <div class="checkbox">
            <nb-checkbox [(ngModel)]="element.is_active" name="is_active">&iquest;Activo?</nb-checkbox>
          </div>
        </div>
      </div>
      <!-- name -->
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre*</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="element.name" placeholder="Nombre" required>
        </div>
      </div>
      <!-- budget-rating -->
      <div class="form-group row">
        <label for="budget-rating" class="col-sm-2 col-form-label">Rango de Precios*</label>
        <div class="col-sm-10">
          <select class="form-control"
            id="budget-rating"
            name="budget_rating"
            [(ngModel)]="element.budget_rating" required>
            <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</option>
          </select>
        </div>
      </div>
      <!-- invite-code -->
      <div class="form-group row">
        <label for="invite-code" class="col-sm-2 col-form-label">C&oacute;digo de Invitaci&oacute;n*</label>
        <div class="col-sm-10">
          <input type="text"
            class="form-control"
            id="invite-code"
            name="invite_code"
            [(ngModel)]="element.invite_code"
            placeholder="Código de Invitación" required>
        </div>
      </div>
      <hr />
      <!-- image -->
      <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">Logo*</label>
        <div class="col-sm-10">
          <input type="file" class="form-control" id="image" name="image"
            [accept]="extensions"
            (change)="logoChange($event)"
            placeholder="Logo" required>
        </div>
        <div class="col-sm-10 offset-sm-2" *ngIf="imgLoaded">
          <img class="form-image" src="{{ element.image }}" *ngIf="!element.image_url"/>
          <img class="form-image" src="{{ element.image_url }}" *ngIf="element.image_url"/>
        </div>
      </div>
      <!-- background_image -->
      <div class="form-group row">
        <label for="background-image" class="col-sm-2 col-form-label">Fondo*</label>
        <div class="col-sm-10">
          <input type="file"
            class="form-control"
            id="background-image"
            name="background_image"
            [accept]="extensions"
            (change)="backgroundChange($event)"
            placeholder="Fondo" required>
        </div>
        <div class="col-sm-10 offset-sm-2" *ngIf="bgImgLoaded">
          <img class="form-image" src="{{ element.background_image }}" *ngIf="!element.background_image_url"/>
          <img class="form-image" src="{{ element.background_image_url }}" *ngIf="element.background_image_url"/>
        </div>
      </div>
      <hr />
      <!-- color -->
      <div class="form-group row">
        <label for="color" class="col-sm-2 col-form-label">Color*</label>
        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon" [style.backgroundColor]="element.color"></span>
            <input type="text" class="form-control" id="color" name="color" [(ngModel)]="element.color" placeholder="Color" required>
          </div>
        </div>
      </div>
      <!-- actions -->
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-9">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ action }}</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
